/* Custom */
@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
}

.containerAF{width: 90%;}
.blackAF{background-color: #000;}
.black-textAF{color: #000;}
.whiteAF{background-color: #fff;}
.white-textAF{color: #fff;}

#accessibility{
	z-index: 8;
	display: flex;
	width: 100%;
	min-height: 25vh;
	background-color: #333;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;

}

#menu{
	z-index: 9;
	top: -30px;
	position: absolute;
	background-color: #222;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;

}

.menuToggleShow{transition: .5s; transform: translateY(60%);}
.menuToggleHide{transition: .5s; transform: translateY(0px);}

@media(max-width: 720px){
	
	
	.containerAF{width: 90%;}
	.contentAF{display: flex;justify-content: space-between;flex-direction: row;
	}
	.contentAF a{display: flex;justify-content: space-between;border-radius: 0px !important;padding: 0px !important;margin-bottom: 10px !important;background-color: rgba(0,0,0,0) !important;}

}


.centerAF{display: flex;justify-content: center;}
.centralizarAF{display: flex;align-items: center;}
.contentAF{display: flex;justify-content: space-between;}
.contentAF a{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	padding: 5px;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 5px;
}
.contentAF a:hover{background-color: rgba(0,0,0,0.8);transition-duration: .5s;}
.contentAF a i{padding: 5px;}

/* Tooltips */
a.tooltipAF{
  position:relative;  
  color:#fff;
  text-decoration:none;
  cursor:help;

  }
 
  a.tooltipAF:hover{
  background:transparent;
  color:#ccc;
  z-index:25; 

  }
  a.tooltipAF span{display: none
  }
 
  a.tooltipAF:hover span{ 
  display:block;
  position:absolute;

  width:210px; 
  top:-70px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  padding:5px;
  border:none;
  background:#333; 
  color:#fff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);	
 }


